extends ../../layouts/master
block content
  .text-center
    h3 Apartments Index
  .container
    .lead
      a.btn.btn-success(href='/apartments/new') Add Apartment!
      
    //- #filter
    //-   form.form-inline(method='get', action='/apartments')
    //-     .input-group
    //-       .form-group
    //-         button.btn.btn-primary(type='submit') Filter   
    //-       .form-group
    //-         input.styled-input(type='number', name='min', placeholder='Min. rent')
    //-       .form-group
    //-         input.styled-input(type='number', name='max', placeholder='Max. rent')
          
    #apartments
      .container-fluid
        .row
          each apartment in apartments  
            .aptBorder.inlineStuff                              
                .info  
                  ul.list-unstyled
                    li: a.lead(href='/apartments/#{apartment._id}')= apartment.name
                    li.sleek.roomsNum= apartment.roomsNum + ' Rooms'
                    li.sleek.sqft= apartment.sqft + " sqft."
                    li.sleek.rent= apartment.rent
                .image(style='background-repeat: no-repeat; background-size: cover; height: 200px; width: 100%s;  background-image:url(' + apartment.image + ')')
