extends ../../layouts/master
block content
.container-fluid
  .row
    .col-xs-4
      .branch
        h4.lead Apartments Overview
          each a in apartments  
    .col-xs-4
      .branch
        h4.lead Clients Overview
    .col-xs-4
      .branch
        h4.lead General Overview
